
/* General */
body {
  font-family: 'Lato', sans-serif;
  color: black;
  font-weight: 300;
  background-color: #F2F2F2;
  font-size: medium;
}

@media (min-width: 1200px) {
  .container {
    width: 1000px;
  }
}

@font-face {
  font-family: "coloredCrayons";
  src: url("/fonts/Colored Crayons.ttf");
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 0px;
  padding-right: 0px;
}

.no-margin {
  margin: 0;
}

/* Text-Style */
.text-muted {
  color: #BCBBBB;
}

.text-thin {
  font-weight: 100;
}

/* Welcome-Title-Style */
.title-super {
  font-size: 20px;
  display: block;
  padding: 10px;
  color: #F1ECEC;
  text-align: center;
}

.title {
  background-color: #690A1C;
}

.title-einleitung {
  font-size: 20px;
  display: block;
  padding: 10px;
  color: #000000;
  text-align: center;
}

.title-text-einleitung {
    margin: 10px;
    background-color: rgba(242, 242, 242, 0.7);
    height: auto;
    font-weight: bold;
    font-size: 18px;
}

.text-padding {
    padding: 10px
}

.challenge-title {
  background-color: rgba(242, 242, 242, 0.7);
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 50px;
  font-weight: 600;
  font-size: xx-large;
  color: black;
}

.title-mittel {
  display: block;
  margin: 10px;
  position: absolute;
  top: 20%; left: 0; bottom: 0; right: 0;
  text-align: center;
  color: white;
  font-size: 25px;
  font-family: "coloredCrayons";
}

.title-mittel-unter {
  display: block;
  margin: 10px;
  position: absolute;
  top: 45%; left: 0; bottom: 0; right: 0;
  text-align: center;
  color: white;
  font-size: 18px;
  font-family: "coloredCrayons";
}

.title-small {
  display: block;
  margin: 10px;
  padding: 10px;
  position: absolute;
  top: 25%; left: 0; right: 0;
  text-align: center;
  color: black;
  font-size: 18px;
  font-weight: 900;
}

.title-small-unter {
  display: block;
  margin: 10px;
  padding: 10px;
  position: absolute;
  top: 35%; left: 0; right: 0;
  text-align: center;
  color: black;
  font-size: 24px;
  font-weight: 900;
}

.schriftbalken {
  background-color: rgba(242, 242, 242, 0.9);
  height: 100px;
}

.schriftbalken-light {
  background-color: rgba(242, 242, 242, 0.5);
  height: 100px;
}

.blocksatz {
  text-align: justify;
}

.title-logo {
  margin: 20px;
}

/* Dropdown Navbar */

#header {
  margin: 0;
  background-color: #7f7f7f;
}

.fixed {
    position:fixed;
    top:0;
}
@media screen and (max-width: 1200px) {
  .fixed {
    width: 970px;
  }
}
@media screen and (min-width: 1200px) {
  .fixed {
    width: 1000px;
  }
}
@media screen and (max-width: 992px) {
  .fixed {
    width: 750px;
  }
}
@media screen and (max-width: 768px) {
  .fixed {
    width: 100%;
  }
}

ul.topnav {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
}

ul.topnav li {float: left;}
li#contact {float: right;}
li#impressum {float: right;}

ul.topnav li a, .dropbtn {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 17px;
}

ul.topnav li a:hover, .dropdown:hover .dropbtn {background-color: #3e8e41;}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #cccccc;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

a#dropdown-content {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

a#dropdown-content:hover {
  color: white;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
    display: block;
}

ul.topnav li.icon {display: none;}

@media screen and (max-width:680px) {
  ul.topnav li:not(:first-child) {display: none;}
  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }
  li#contact #impressum {float: left;}

}

@media screen and (max-width:680px) {
  ul.topnav.responsive {
    position: relative;
  }
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }
}

/* Titelbild für Motivation */
.motivation-picture {
    /* The image used */
    background-image: url('/img/motivation_wide.jpg');

    /* Full height */
    height: 300px;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Titelbild für Aufmerksamkeit */
.attetion-picture {
    /* The image used */
    background-image: url('/img/Aufmerksamkeit.jpg');

    /* Full height */
    height: 300px;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Titelbild für Komplexität */
.complexity-picture {
    /* The image used */
    background-image: url('/img/komplexität.jpg');

    /* Full height */
    height: 300px;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Titelbild für Impressum */
.impressum-picture {
    /* The image used */
    background-image: url('/img/impressum1.jpg');

    /* Full height */
    height: 300px;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Accordion */
button.accordion {
    background-color: #ddd;
    color: #444;
    cursor: pointer;
    padding: 5px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 18px;
    font-weight: 600;
    transition: 0.4s;
    height: 50px;
}

button.accordion.active, button.accordion:hover {
    background-color: #3e8e41;
    color: white;
}

button.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

button.accordion.active:after {
    content: "\2212";
}

div.panel {
    padding: 0.5px 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    font-weight: 600;
    color: #444;
}

/* Contact-Form */
input[type=text], select, textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 6px;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.form {
    background-color: rgba(242, 242, 242, 0.7);
    padding: 15px;
}

.contact-text {
  background-color: rgba(242, 242, 242, 0.7);
  margin-left: 5%;
  margin-right: 5%;
  padding: 5px;
  font-size: 25px;
}

.contact-now {
  background-color: rgba(242, 242, 242, 0.7);
  margin-left: 20%;
  margin-right: 20%;
  padding: 5px;
  font-weight: 750;
  font-size: 25px;
}

.btn-default {
  background-color: #7f7f7f;
  color: white;
  border: none;
  padding: 14px 28px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  transform: translate(-50%, 0%);
  margin-left: 50%;
}
.btn-default:hover {background: #3e8e41;}

/* Footer */
ul.fotnav {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
}

ul.fotnav li {float: left;}

ul.fotnav li a {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 17px;
}

ul.fotnav li a:hover {background-color: #3e8e41;}

#footer {
  margin: 0;
  padding: 15px 20px;
  background-color: #7f7f7f;
}

#socials {
  float: right;
  font-size: 24px;
}

.gradient {
  background-image: linear-gradient(20deg, transparent, #333333)
}

.gradient-soft {
  background-image: linear-gradient(150deg, transparent, #333333)
}

.fa {
  width: 70px;
  text-align: center;
  text-decoration: none;
  margin: 0px 5px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.whatsapp {display: none;}

@media screen and (max-width:680px) {
    .whatsapp {display: inline-block;}
}

/* IDs */
#padding1 {
  padding: 30px;
}

#padding2 {
  padding: 10%;
}

#padding3 {
  padding: 5%;
}

#padding4 {
  padding: 2%;
}

#margin_H1 {
  margin: 2% 8% 2%;
}

#einleitung-image {
  background-image:url("/img/einleitung.jpg");
  background-size: cover;
}

#big-background-image {
  background-image:url("/img/1.jpg_500px.jpg");
  background-size: cover;
  height: 500px;
}

#slim-background-image1 {
  background-image: url("/img/motivation_166px.jpg");
  background-size: cover;
  /* opacity: 0.85;
  filter: alpha(opacity=50); /* For IE8 and earlier */
  height: 500px;
}

#slim-background-image2 {
  background-image: url("/img/aufmerksamkeit_v250px.jpg");
  background-size: cover;
  /* opacity: 0.85;
  filter: alpha(opacity=50); /* For IE8 and earlier */
  height: 250px;
}

#slim-background-image3 {
  background-image: url("/img/komplexitaet_v250px.jpg");
  background-size: cover;
  /* opacity: 0.85;
  filter: alpha(opacity=50); /* For IE8 and earlier */
  height: 250px;
}

@media screen and (max-width:991px) {
  #slim-background-image2 {
    height: 500px;
  }
  #slim-background-image3 {
    height: 500px;
  }
}

@media screen and (max-width:767px) {
  #big-background-image {
    height: 300px;
  }
  #slim-background-image1 {
    background-image: url("/img/motivation_wide.jpg");
    height: 300px;
  }
  #slim-background-image2 {
    height: 300px;
  }
  #slim-background-image3 {
    height: 300px;
  }
}

#contact-bg-img {
  background-image: url("/img/background-2030242_1280.jpg");
  background-size: cover;
}
